* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets pages background color below picture*/
body {
    background-color: #d9dcd6;
}

/* edits the whole header as whole, padding of header, font type, background color and makes the Title text white */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* lines up the 3 nav selections in the header and makes font size of Horiseon bigger */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes color of seo in the TITLE */
header h1 .seo {
    color: #d9dcd6;
}

/* edits and styles the nav bar text */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* allows text to to be side to side in the flex box formation */
header nav ul {
    list-style-type: none;
}

/* gives the space between the nav tools */
header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}

/* changes font color of nav bar with terms SEO, ORM and SMM */
a {
    color: #ffffff;
    text-decoration: none;
}

/* size of title text */
p {
    font-size: 16px;
}

/* adds styling to the main picture under the nav toolbar */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* puts text to the left side of the page with a margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* puts the nav bar to the right with margins to the left of each of the text */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* refactored benefit lead benefit brand and benefit cost to the same */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


/* refactored three classes together and applied the same css stlying to all three as they were the same */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Combined benefit-lead, benefit brand and benefit cost as they had the same styling applied to them as well */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* refactored the three classes together as they have the same stlye */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    columns: auto;
}

/* search engine, online rep and social media were combinded to the same css stlye */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* combinded the three classes together */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed from .footer to footer and footerh2 */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
